<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h3>
        {{ joke }}
      </h3>
    </ion-card-content>
  </ion-card>
  <ion-list 
  *ngFor="let joke of jokes; let i = index"
  (click)="jokes.splice(i, 1)"
  > {{ joke }}</ion-list>
</ion-content>


<ion-button (click)="getJoke()">Generate</ion-button>
<ion-button (click)="saveJoke()">Save Joke</ion-button>
<ion-button (click)="clearAll()">Clear All</ion-button>


